@charset "utf-8";

/*=========================================================
	[ about.css ]
	creation:2011-12-10
	update  :2013-01-17
=========================================================*/

/*=========================================================
	index
		1. menu class
=========================================================*/
/*-------------------------------------------------------
 1. menu
---------------------------------------------------------*/
.menu div{
	overflow:hidden;
}
.menu ul{
	display:block;
	list-style:none;
	padding:0;
	overflow:hidden;
}
.menu li{
	display:block;
	overflow:hidden;
}
.menu a{
	display:block;
	background-image:url(../images/MeBuAbt.png);
	background-repeat:no-repeat;
	height:0;
	overflow:hidden;
	text-indent:-9999em;
}
.menu ul.left{
		z-index:1;
		width:200px;
		height:500px;
	}
	ul.left li{
		font-size:11px;
	    list-style:none;
	    padding:0px 0px;
	    float:left;
	}
	.left li.btn01{width:199px;}
	.left li.btn02{width:199px;}
	.left li.btn03{width:199px;}
	.left li.btn04{width:199px;}
	.left li.btn05{width:199px;}
	.left li.btn06{width:199px;}
	.left li.btn07{width:199px;}

	.left li a{padding-top:61px;padding-bottom:1px;}
	.left li.btn01 a{background-position:   -5px -5px;}
	.left li.btn02 a{background-position:   -5px -70px;}
	.left li.btn03 a{background-position:   -5px -135px;}
	.left li.btn04 a{background-position:   -5px -200px;}
	.left li.btn05 a{background-position:   -5px -265px;}
	.left li.btn06 a{background-position:   -5px -330px;}
	.left li.btn07 a{background-position:   -5px -395px;}

	.left li a:hover{padding-top:61px;padding-bottom:1px;}
	.left li.btn01 a:hover{background-position: -210px -5px;}
	.left li.btn02 a:hover{background-position: -210px -70px;}
	.left li.btn03 a:hover{background-position: -210px -135px;}
	.left li.btn04 a:hover{background-position: -210px -200px;}
	.left li.btn05 a:hover{background-position: -210px -265px;}
	.left li.btn06 a:hover{background-position: -210px -330px;}
	.left li.btn07 a:hover{background-position: -210px -395px;}




h1.fig01{
    font-size:18px;
}
h2.fig02{
    font-size:15px;
}

p{
	margin-top:5px;
	margin-bottom:10px;
	margin-left:10px;
	margin-right:10px;

    font-size:86%;
	line-height:1.5;
	letter-spacing:0px;
	border-bottom:1px solid #81c99b;
}

ol li{
	margin-top:5px;
	margin-bottom:10px;
	margin-left:10px;
	margin-right:10px;

    font-size:80%;
	line-height:1.2;
	letter-spacing:0px;
}

ul.button{
	width:100%;
    font-size:14px;
    padding-left:0;
    margin-left:0;
}

ul.button li{
    list-style:none;
    padding:6px 6px;
    width:188px;
    float:left;

    border-width:1px;
    border-color:#00FF00;
    border-style:ridge;
}


.intro table {
	width:550px;
    margin:5px 0px 0px 10px;	/*マージン（外側の余白）　top right bottom left */
}
.intro table.figA01 {
	border: 1px solid #aaaaaa;
	width:450px;
    margin: 3px 0px 0px 10px;
}
.intro table.figA01 td {
	border: 1px solid #aaaaaa;
    padding: 3px 0px 0px 3px;
}

.intro td{
	font-size:12px;
	vertical-align: top;
    line-height:150%;	/*行間調整(折返し)*/
	padding:0px 0px 0px 35px;
}
.intro ul li{
	font-size:13px;

	margin-top:0px;
	margin-bottom:0px;
	margin-left:5px;
	margin-right:0px;

	list-style:none;

    line-height:130%;	/*行間調整(折返し)*/
	letter-spacing:0px;
}
.intro ul li.ti01{
	font-size:17px;
	font-weight:bold;
	padding:5px 3px 3px 5px;
	border: 1px solid #000000;
    background-color: #ffffff;
}
.intro ul li.el01{
	font-size:14px;
    padding:5px 0px 0px 5px;
}

.intro ul li.ti02{
	font-size:14px;
	font-weight:bold;
    padding:5px 0px 0px 5px;
}
.intro ul li.el02{
	font-size:13px;
    padding:5px 0px 0px 5px;
}

.memTitle table {
	width:90%;
    margin:5px 0px 0px 25px;	/*マージン（外側の余白）　top right bottom left */
}
.memTitle th{
	font-size:15px;
	font-weight:bold;
    padding:5px 0px 0px 5px;
}
.memTitle td{
	font-size:13px;
    padding:5px 0px 0px 5px;
    text-align: right;
}

.mem1 table{
	font-size:13px;
	width:90%;
    margin:5px 0px 0px 25px;	/*マージン（外側の余白）　top right bottom left */
}
.mem1 th{
	border: 1px solid #000000;
    padding:5px 0px 0px 5px;
	background-color: #eeeeee;
}
.mem1 td{
	border: 1px solid #000000;
    padding:5px 0px 0px 5px;
}

.mem2 table{
	font-size:13px;
	width:90%;
    margin:5px 0px 0px 25px;	/*マージン（外側の余白）　top right bottom left */
	border: 1px solid #000000;
}
.mem2 th{
	border: 1px solid #000000;
    padding:5px 0px 0px 5px;
	background-color: #eeeeee;
}
.mem2 td{
    padding:5px 0px 0px 5px;
    border-left:1px solid #663300;
}


.access table {
	width:550px;
    margin:5px 0px 0px 10px;	/*マージン（外側の余白）　top right bottom left */
}
.access td{
	font-size:12px;
	vertical-align: top;
    line-height:150%;	/*行間調整(折返し)*/
	padding:0px 0px 0px 35px;
}
.access ul li{
	font-size:13px;

	margin-top:0px;
	margin-bottom:0px;
	margin-left:5px;
	margin-right:0px;

	list-style:none;

    line-height:130%;	/*行間調整(折返し)*/
	letter-spacing:0px;
}
