@charset "utf-8";

/*=========================================================
	[ control.css ]
	creation:2013-03-05
	update  :2013-03-05
=========================================================*/

/*=========================================================
	index
		1. menu class
		2. fig01 class
=========================================================*/
/*-------------------------------------------------------
 1. menu
---------------------------------------------------------*/
.menu div{
	overflow:hidden;
}
.menu ul{
	display:block;
	list-style:none;
	padding:0;
	overflow:hidden;
}
.menu li{
	display:block;
	overflow:hidden;
}

.menu a{
	display:block;
	background-image:url(../images/MeBuBulletin.png);
	background-repeat:no-repeat;
	height:0;
	overflow:hidden;
	text-indent:-9999em;
}

.menu ul.left{
		z-index:1;
		width:200px;
	}
	ul.left li{
		font-size:11px;
	    list-style:none;
	    padding:0px 0px;
	    float:left;
	}
	.left li.btn01{width:200px;}
	.left li.btn02{width:200px;}
	.left li.btn03{width:200px;}
	.left li.btn04{width:200px;}
	.left li.btn05{width:200px;}
	.left li.btn06{width:200px;}
	.left li.btn07{width:200px;}

	.left li a{padding-top:60px;}
	.left li.btn01 a{background-position:   -2px -6px;}
	.left li.btn02 a{background-position:   -2px -66px;}
	.left li.btn03 a{background-position:   -2px -126px;}
	.left li.btn04 a{background-position:   -2px -186px;}
	.left li.btn05 a{background-position:   -2px -246px;}
	.left li.btn06 a{background-position:   -2px -306px;}
	.left li.btn07 a{background-position:   -2px -366px;}

	.left li a:hover{padding-top:60px;}
	.left li.btn01 a:hover{background-position: -204px -6px;}
	.left li.btn02 a:hover{background-position: -204px -66px;}
	.left li.btn03 a:hover{background-position: -204px -126px;}
	.left li.btn04 a:hover{background-position: -204px -186px;}
	.left li.btn05 a:hover{background-position: -204px -246px;}
	.left li.btn06 a:hover{background-position: -204px -306px;}
	.left li.btn07 a:hover{background-position: -204px -366px;}

.serch {
	margin-left:auto;
    margin-right:auto;
	padding:0px 5px 0px 5px;
	font-size:14px;

}
	.serch table.input {
		width:800px;
		background-color: #ddffee;
		border: 2px solid #33aa33;
	}
		table.input th {
			border: 1px solid #8fbc8f;
			background-color: #33aa33;
		}
		table.input td {
			padding:0px 0px 0px 5px;
			background-color: #ddffee;
			border: 1px solid #8fbc8f;
		}
		table.input td.title {
			border: 1px solid #8fbc8f;
			background-color: #88ff88;
		}

	.serch table.result {
		width:800px;
		background-color: #ddffee;
		border: 2px solid #33aa33;
	}
		table.result th {
			height:20px;
			background-color: #33aa33;
		}
		table.result td {
			height:30px;
			padding:0px 0px 0px 5px;
			border: 1px solid #8fbc8f;
			background-color: #ddffee;
		}
		table.result td.title {
			background-color: #88ff88;
		}
		table.result td.value01 {
			background-color: #FFFFFF;
		}


/*-------------------------------------------------------
 2. fig01
---------------------------------------------------------*/
.figMenu div {

}

.figMenu table{
	width:95%;
    margin:10px 0px 0px 20px;	/*マージン（外側の余白）　top right bottom left */
}

.figMenu td {
	width:10px;
	hight:5px;
}

.figMenu td.bt {
	width:150px;

	border: 2px solid #33aa33;
	background-color: #ccffcc;

	padding:10px 0px 10px 20px;
	font-size:15px;
	float:center;
}


/* .fig01 div { */

/* } */

/* .fig01 table{ */
/* 	width:95%; */
/*     margin:10px 0px 0px 20px;	マージン（外側の余白）　top right bottom left */
/* } */

/* .fig01 th{ */
/* 	font-size:12px; */
/* 	font-weight:bold; */
/* 	background-color: #ccffcc; */
/* 	float:center; */
/* } */

/* .fig01 td{ */
/* 	font-size:12px; */
/* 	float:center; */
/* } */



